<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Sprinter 3000</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <h1>User Story Manager</h1>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <button type="button" value="Add new User Story" onclick="location.href = 'story';">Add new User Story</button>
        </div>
    </nav>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>

        </tr>
        <ul class=stories>
            {% for story in stories %}
            <tr>
                <td>{{ story.id }}</td>
                <td>{{ story.title }}</td>
                <td>{{ story.story }}</td>
                <td>{{ story.criteria }}</td>
                <td>{{ story.value }}</td>
                <td>{{ story.estimation }}</td>
                <td>{{ story.status }}</td>
                <td>
                    <form action="/story/{{ story.id }}" method=post>
                        <input type="hidden" id="id_for_update" name="id_for_update" value={{ story.id }} readonly>
                        <button type="submit" id="pen" name="pen">
                            <img src="static/img/pen.png" style="width:20px;height:20px;" alt="">
                            </button>
                    </form>
                    <form action="{{ url_for('delete_user_story') }}" method=post>
                        <input type="hidden" id="id_for_delete" name="id_for_delete" value={{ story.id }} readonly>
                        <button type="submit" id="bin" name="bin">
                            <img src="static/img/bin.jpg " style="width:20px;height:20px;" alt="">
                            </button>
                    </form>
                </td>
                {% else %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <div><strong>There are no Stories so far</strong></div> {% endfor %}
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>